{
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": true,
    "printWidth": 120,
    "singleAttributePerLine": true,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "all"
}
