includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon
parameters:
    paths:
        - app/
    excludePaths:
        - app/Nova/*
    level: 7
