:root {
    /* Purple */
    --theme-color-primary-50: 248 248 255; /* #f8f8ff */
    --theme-color-primary-100: 229 232 255; /* #e5e8ff */
    --theme-color-primary-200: 207 212 255; /* #cfd4ff */
    --theme-color-primary-300: 168 177 255; /* #a8b1ff */
    --theme-color-primary-400: 134 146 255; /* #8692ff */
    --theme-color-primary-500: 107 122 255; /* #6b7aff */
    --theme-color-primary-600: 80 96 238; /* #5060ee */
    --theme-color-primary-700: 61 76 211; /* #3d4cd3 */
    --theme-color-primary-800: 44 57 174; /* #2c39ae */
    --theme-color-primary-900: 33 43 131; /* #212b83 */

    /* Gray */
    --theme-color-secondary-50: 250 250 255; /* #fafaff */
    --theme-color-secondary-100: 246 247 255; /* #f6f7ff */
    --theme-color-secondary-200: 236 237 249; /* #ecedf9 */
    --theme-color-secondary-300: 226 227 241; /* #e2e3f1 */
    --theme-color-secondary-400: 209 211 227; /* #d1d3e3 */
    --theme-color-secondary-500: 178 181 204; /* #b2b5cc */
    --theme-color-secondary-600: 144 147 172; /* #9093ac */
    --theme-color-secondary-700: 114 118 142; /* #72768e */
    --theme-color-secondary-800: 73 76 94; /* #494c5e */
    --theme-color-secondary-900: 49 51 63; /* #31333f */

    /* Dark Mode Gray */
    --theme-color-dark-50: 227 232 234; /* #E3E8EA */
    --theme-color-dark-100: 202 210 215; /* #CAD2D7 */
    --theme-color-dark-200: 164 177 188; /* #A4B1BC */
    --theme-color-dark-300: 120 138 152; /* #788A98 */
    --theme-color-dark-400: 93 111 125; /* #5D6F7D */
    --theme-color-dark-500: 80 93 106; /* #505D6A */
    --theme-color-dark-600: 69 79 89; /* #454F59 */
    --theme-color-dark-700: 61 68 77; /* #3D444D */
    --theme-color-dark-800: 44 49 57; /* #2C3139 */
    --theme-color-dark-900: 35 39 45; /* #23272D */
    --theme-color-dark-950: 25 29 34; /* #191D22 */

    /* Red */
    --theme-color-danger-50: 255 245 242; /* #fff5f2 */
    --theme-color-danger-100: 255 224 218; /* #ffe0da */
    --theme-color-danger-200: 254 184 174; /* #feb8ae */
    --theme-color-danger-300: 239 124 109; /* #ef7c6d */
    --theme-color-danger-400: 222 88 70; /* #de5846 */
    --theme-color-danger-500: 201 41 44; /* #c9292c */
    --theme-color-danger-600: 176 30 32; /* #b01e20 */
    --theme-color-danger-700: 136 26 27; /* #881a1b */
    --theme-color-danger-800: 91 27 27; /* #5b1b1b */
    --theme-color-danger-900: 57 25 25; /* #391919 */

    /* Yellow */
    --theme-color-warning-50: 255 248 235; /* #fff8eb */
    --theme-color-warning-100: 255 230 184; /* #ffe6b8 */
    --theme-color-warning-200: 255 212 134; /* #ffd486 */
    --theme-color-warning-300: 255 195 89; /* #ffc359 */
    --theme-color-warning-400: 254 185 51; /* #feb933 */
    --theme-color-warning-500: 255 174 16; /* #ffae10 */
    --theme-color-warning-600: 252 159 15; /* #fc9f0f */
    --theme-color-warning-700: 248 142 13; /* #f88e0d */
    --theme-color-warning-800: 242 124 11; /* #f27c0b */
    --theme-color-warning-900: 236 92 8; /* #ec5c08 */

    /* Green */
    --theme-color-success-50: 240 253 244; /* #f0fdf4 */
    --theme-color-success-100: 226 240 230; /* #e2f0e6 */
    --theme-color-success-200: 176 219 188; /* #b0dbbc */
    --theme-color-success-300: 140 198 157; /* #8cc69d */
    --theme-color-success-400: 96 192 124; /* #60c07c */
    --theme-color-success-500: 66 178 99; /* #42b263 */
    --theme-color-success-600: 40 149 72; /* #289548 */
    --theme-color-success-700: 48 120 69; /* #307845 */
    --theme-color-success-800: 43 79 53; /* #2b4f35 */
    --theme-color-success-900: 38 55 43; /* #26372b */

    /* Blue */
    --theme-color-info-50: 245 250 255; /* #f5faff */
    --theme-color-info-100: 229 240 248; /* #e5f0f8 */
    --theme-color-info-200: 186 214 240; /* #bad6f0 */
    --theme-color-info-300: 153 199 238; /* #99c7ee */
    --theme-color-info-400: 119 185 254; /* #77b9fe */
    --theme-color-info-500: 62 157 255; /* #3e9dff */
    --theme-color-info-600: 0 125 255; /* #007dff */
    --theme-color-info-700: 7 90 242; /* #075af2 */
    --theme-color-info-800: 11 77 199; /* #0b4dc7 */
    --theme-color-info-900: 23 62 133; /* #173e85 */

    /* Purple */
    --theme-color-hint-50: 248 248 255; /* #f8f8ff */
    --theme-color-hint-100: 229 232 255; /* #e5e8ff */
    --theme-color-hint-200: 207 212 255; /* #cfd4ff */
    --theme-color-hint-300: 168 177 255; /* #a8b1ff */
    --theme-color-hint-400: 134 146 255; /* #8692ff */
    --theme-color-hint-500: 107 122 255; /* #6b7aff */
    --theme-color-hint-600: 80 96 238; /* #5060ee */
    --theme-color-hint-700: 61 76 211; /* #3d4cd3 */
    --theme-color-hint-800: 44 57 174; /* #2c39ae */
    --theme-color-hint-900: 33 43 131; /* #212b83 */

    /* White */
    --theme-color-white: 255 255 255; /* #ffffff */

    /* Black */
    --theme-color-black: 22 23 28; /* #16171c */
}
