@import "./_fonts.css";
@import "./_general.css";
@import "./_variables.css";
@import "./_animations.css";
@import "./_buttons.css";
@import "./_skeletons.css";
@import "./_tables.css";
@import "./_carousel.css";
@import "./_collection.css";
@import "./_gallery.css";
@import "./_article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

.auth-overlay-shadow {
    box-shadow:
        0 13px 28px 0 rgba(33, 42, 131, 0.04),
        0 52px 52px 0 rgba(33, 42, 131, 0.03),
        0 116px 70px 0 rgba(33, 42, 131, 0.02),
        0 207px 83px 0 rgba(33, 42, 131, 0.01),
        0 323px 90px 0 rgba(33, 42, 131, 0);
}

.latest-articles-carousel .swiper-pagination-bullets {
    @apply bottom-0 flex justify-center;
}

.dark .auth-overlay-shadow {
    box-shadow: 0px 15px 35px 0px rgba(18, 18, 19, 0.4);
}

body * {
    @apply transition-colors duration-200 ease-in-out;
}
