name: "Chromatic Publish"

on:
  push:
    branches:
      - "main"
      - "develop"
  pull_request:
    paths:
      - "**.css"
      - "**.js"
      - "**.ts"
      - "**.svg"
      - "**.tsx"
      - "**.mdx"

jobs:
  chromatic:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.head_ref }}-chromatic
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_TOKEN }}

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install
        run: pnpm i --frozen-lockfile

      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GH_TOKEN }}
